:root {
  --main-color: #ffe343;
  --secondary-color: #808080;
}

.DemoCard {
  position: relative;
  display: grid;
  grid-template-rows: 40px auto;
  width: 650px;
  height: max-content;
  /* overflow: hidden; */
  margin: 2rem;
  z-index: 3;
}

.DemoCard .Controls {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.DemoCard .Controls button {
  display: flex;
  justify-content: center;
  align-items: center !important;

  padding: 0;
  margin: 0;

  height: 100%;
  width: 20%;

  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #222;
  border: 1px solid #222;
  border-bottom: none;
  box-sizing: border-box;
  /* border: 1px solid gold; */
}

.DemoCard .Controls button:hover {
  background-color: rgb(96, 96, 96);
  border: 1px solid #222;
  border-bottom: none;
}

.DemoCard .Controls button.Active {
  background-color: var(--main-color);
  color: #222;
}

.DemoCard .Controls button:first-child {
  border-top-left-radius: 0.5rem;
  border-right: none;
}
.DemoCard .Controls button:last-child {
  border-top-right-radius: 0.5rem;
  border-left: none;
}

.DemoCard .ViewContainer {
  font-size: 1rem;
  position: relative;

  height: 250px;

  color: #222;
  font-size: 0.9rem;
  background-color: #f5f5f5;
  border: 1px solid #222;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.25rem;
  overflow: hidden;
}

.DemoCard .Tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  width: max-content;
  padding-top: 0.25rem;
  font-size: 0.75rem;
}

.DemoCard .Tags span {
  color: #222;
  background-color: var(--main-color);
  /* border: 1px solid #222; */
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  cursor: default;
}

/*/////////////////////////////////////// First View */

#View1 img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.5rem;
  pointer-events: none;
}

#View1 .TextContainer {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding: 1rem;

  color: #222;
  background-color: #f5f5f5;
  border-bottom-right-radius: 0.5rem;
  z-index: 1;
}

.DemoCard .ViewTitle {
  position: relative;
  width: max-content;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  letter-spacing: 2px;
}

.DemoCard .ViewTitle::after {
  content: "";
  bottom: -0.2rem;
  left: 0rem;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #80808085;
}

/*/ ////////////////////////////////////// Second View */

#View2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #f5f5f5;
  color: #222;
}

#View2 .Thumbnails {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 1rem;
}

#View2 .Thumbnails img {
  max-height: 150px;
  border-radius: 0.25rem;
  cursor: pointer;
}

/*/ ////////////////////////////////////// Third View */

#View3 {
  padding: 1rem;
}

/*/ /////////////////////////////////////////////////////////////// Mobile Styles */

@media (max-width: 1024px) {
  .DemoCard {
    grid-template-rows: 30px auto;
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }

  .DemoCard .Controls button {
    border: 1px solid #222;
    border-bottom: none !important;
  }

  .DemoCard .Controls button:first-child {
    border-top-left-radius: 0.25rem;
    border-right: none;
  }

  .DemoCard .Controls button:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  .DemoCard .Controls button:last-child {
    border-top-right-radius: unset;
  }

  .DemoCard .Controls button:first-child:hover {
    border-right: none;
  }

  .DemoCard .Controls button:nth-child(2):hover {
    border-left: none;
    border-right: none;
  }

  .DemoCard .ViewContainer {
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 0rem;
  }

  .DemoCard .Tags {
    padding: 0.25rem;
  }

  .DemoCard .Tags span {
    border: 1px solid gold;
  }

  /*/////////////////////////////////////// First View */

  #View1 img {
    opacity: 0.65;
  }

  #View1 .TextContainer {
    filter: drop-shadow(0px 0px 20px rgba(68, 72, 79, 0.602));
    transition: all 300ms;
  }

  #View1 .TextContainer:hover {
    transform: translateX(25%);
  }

  #View1 .TextContainer .ViewTitle:after {
    display: none;
  }

  #View1 .TextContainer .ViewTitle,
  #View1 .TextContainer .ViewBody {
    padding-left: 0.25rem;
    color: rgb(47, 47, 47);
  }
  /*/ ////////////////////////////////////// Second View */

  #View2 .Thumbnails {
    align-items: center;
    height: 150px;
    width: 100%;
  }

  #View2 .Thumbnails img {
    max-width: calc(33% - 0.67rem);
  }

  /*/ ////////////////////////////////////// Third View */

  #View3 {
    padding: 1rem;
  }
}
