:root {
  --main-color: #ffe343;
  --grid-line-width: 2px;
}

.Gallery .Cover {
  background-image: url("../../media//gallery/images/galleryPhoto.png");
  background-size: cover;
  height: 85vh;
  min-height: unset;
}

/*/////////////////////////////////////////////////////////// Grid and Cells  */

.Gallery .GridDecoration {
  width: 100vw;
  height: 85%;

  box-sizing: border-box;

  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-areas: "Cell1 Cell2 Cell3" "Cell4 Cell5 Cell6" "Cell7 Cell8 Cell9";
}

.GridDecoration .vertical {
  position: absolute;
  height: 100%;
  width: var(--grid-line-width);
  background-color: var(--main-color);
  transform: translateX(-50%);
  left: 50%;
  border-radius: 5px;
}
.GridDecoration .horizontal {
  position: absolute;
  width: 100%;
  height: var(--grid-line-width);
  background-color: var(--main-color);
  transform: translateY(-50%);
  top: 50%;
  border-radius: 5px;
}

.GridDecoration .Cell {
  position: relative;
  z-index: 5;
}

#Cell1,
#Cell3,
#Cell7,
#Cell9 {
  margin: 1rem;
}

#Cell5 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Cell5 img#Logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  margin: 0rem;

  cursor: pointer;

  animation-name: Rotating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes Rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#Cell5 img#Logo:hover {
  -webkit-filter: drop-shadow(0px 0px 20px white);
  filter: drop-shadow(0px 0px 5px white);
}

#Cell2 .MyName {
  display: flex;
  height: 100%;
  align-items: center;

  font-size: 2rem;
  height: 100%;
  padding-top: 7px;
  padding-left: 1rem;
  font-family: LeagueSpartanMedium;
  text-transform: uppercase;
}

#Cell6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Cell6 .Boxes {
  width: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#Cell6 .Box {
  width: 25px;
  height: 25px;
  border: 2px solid var(--main-color);
}

/*////////////////////////////////////////// Header (Title + Display Font)  */

.Gallery .Cover header {
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100vw - 0rem);

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "mainNav title galNav";
  align-items: center;
  /* border: 1px solid gold; */
  padding: 0 6rem;
  padding-top: 0;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.05) 10%,
    rgba(0, 0, 0, 0.7) 100%
  );
  z-index: 4;
  pointer-events: none;
}

.Gallery .Cover .Display {
  grid-area: title;
  position: relative;
  right: unset;
  left: unset;
  top: unset;
  font-family: "Blamed";
  color: var(--main-color);
  font-size: 8rem;
  -webkit-text-stroke: 1px transparent;
  transition: all 200ms;
  pointer-events: none;
}

.Gallery .Cover .Title {
  width: 100%;
  text-align: end;
  z-index: 3;
  font-size: 4rem !important;
}

/*/////////////////////////////////////////////////// Nav styling  */

.Gallery nav {
  position: absolute;
  left: 0;
  top: unset;
  bottom: 0;
  width: 100%;
}

.Gallery nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;

  padding: 0.25rem;
  padding-top: calc(0.25rem + 5px);

  font-size: 1rem;
  list-style: none;
  border-radius: 0.25rem;
  background-color: #0000005e;
}

.Gallery nav .MainLi {
  color: white;
}
.Gallery nav .GalleryLi {
  color: var(--main-color);
}

.Gallery nav a {
  cursor: pointer;
  text-transform: uppercase;
  font-family: LeagueSpartanMedium;
}

/*//////////////////////////////////////////////////////////// MOBILE  */

@media (max-width: 1024px) {
  .Gallery .Cover {
    background-image: url("../../media//gallery/images/galleryPhoto.png");
    height: 70vh;
    min-height: unset;
  }

  .Gallery .GridDecoration {
    height: 100%;
    grid-template-columns: 2.5rem 1fr 2.5rem;
    grid-template-rows: 2.5rem 1fr 2.5rem;
    background-color: rgba(0, 0, 0, 0.262);
  }

  #Cell1,
  #Cell3,
  #Cell7,
  #Cell9 {
    margin: 0.25rem;
  }

  #Cell5 img#Logo {
    position: absolute;
    top: unset;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin: 0rem;
  }

  #Cell5 img#Logo:hover {
    -webkit-filter: none;
    filter: none;
  }

  #Cell2 .MyName {
    font-size: 1.5rem;
  }

  #Cell6 .Boxes {
    display: none;
  }

  .Gallery .Cover header {
    top: 6rem;
    transform: translateX(-50%);
    width: calc(100vw - 0rem);
    padding: 0;
    background: unset;
    z-index: 10;
  }

  .Gallery .Cover .Display {
    font-size: 5rem;
    opacity: 0.9;
  }

  .Gallery .Cover .Title {
    font-size: 3rem !important;
  }

  .Gallery nav {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    background-color: unset;
  }
}
