.ContactButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Mail {
  width: 100%;
  max-width: 310px;
  padding: 0.5rem;
  padding-top: calc(0.5rem + 3px);
  color: grey;
  text-decoration: none;

  display: flex;
  justify-content: center;
  cursor: pointer;
}

.Mail:hover {
  color: white;
}

.Mail.Co {
  background-color: #222222;
  color: white;
}

.Mail.Co:hover {
  filter: brightness(1.5);
}

@media (max-width: 500px) {
  .Mail {
    width: 100%;
    max-width: unset;
  }
}
