:root {
  --main-color: #ffe343;
}

.HiddenNav {
  top: -100px !important;
}

@media (min-width: 1024px) {
  .Gallery {
    width: 100vw;
    /* height: 200vh; */
    color: #fff;
    font-size: 3rem;
    letter-spacing: 1px;
  }
  .GalleryContainer {
    background-color: #eaeaea !important;
    display: flex;
    justify-content: center;
  }

  .Gallery section {
    background-color: #ccc;
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
  }

  .Gallery #GalleryTopNav {
    position: absolute;
    top: 0;
    width: 100%;
    transition: all 400ms;
  }
}
