.Technologies {
  width: 100%;
  max-width: calc(600px + 0.5rem);

  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 0.25rem;
  row-gap: 0.25rem;
}

.Tech {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  border-left: 5px solid white;
}

.Tech .icon {
  max-height: 24px;
}

.Tech .label {
  padding-top: 5px;
  font-size: 1rem;
}

.TechStack {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.TechStack .icon {
  width: 10%;
  max-width: 40px;
  padding: 0.3rem;
  filter: brightness(0) grayscale(1);
}

/* external link */

.Projects a.ExternalLink {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: calc(0.25rem + 2px) 1rem 0.25rem 1rem;
  color: #eee !important;
  background-color: #222;
  width: max-content;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.Projects a.ExternalLink span {
  display: block;
  width: 10px;
  height: 10px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  rotate: 45deg;
}
