.Disc1Container {
  position: relative;
  width: 400px;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: rgb(31, 31, 31); */
}

.Disc1 {
  position: absolute;
  /* width: calc(100% - 40px);
  height: calc(100% - 40px); */
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: conic-gradient(
    #e3f0f2 0deg,
    #b9aa85 35deg,
    #b75d39 50deg,
    #771e18 80deg,
    #020b0b 135deg,
    #2c657f 200deg,
    /* #e9decc 255deg, */ #f5d0a5 270deg,
    #bd241b 275deg,
    #070f0d 280deg,
    #070f0d 290deg,
    #369ea5 325deg,
    #e3f0f2 350deg
  );
  /* filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.271)); */
  mix-blend-mode: lighten;
  filter: hue-rotate(-10deg);
  border-radius: 100%;
}

#d1_1 {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  animation: swivel 60s linear 0s infinite;
}
#d1_2 {
  width: calc(87.5% - 0px);
  height: calc(87.5% - 0px);
  animation: swivel 52s linear 0s infinite;
}
#d1_3 {
  width: calc(75% - 0px);
  height: calc(75% - 0px);
  animation: swivel 44s linear 0s infinite;
}
#d1_4 {
  width: calc(62.5% - 0px);
  height: calc(62.5% - 0px);
  animation: swivel 36s linear 0s infinite;
}
#d1_5 {
  width: calc(50% - 0px);
  height: calc(50% - 0px);
  animation: swivel 28s linear 0s infinite;
}
#d1_6 {
  width: calc(37.5% - 0px);
  height: calc(37.5% - 0px);
  animation: swivel 20s linear 0s infinite;
}

@keyframes swivel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Used for Disc's Background */
/* .Interface .Background {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 0;
  left: 0;
} */
