.carousel {
  width: 100%;

  /* border-radius: 0.5rem; */
}

.carousel-inner {
  /* background-image: url("../media/backdrop.png");
  background-size: cover; */
  background-color: #19191945;
  /* border: 1px solid #191919; */
}

/* .carouselSlide {
  border: 2px solid gold !important;
}  */
/* .carousel-item {} */

.carousel-item {
  position: relative;
}

.carousel-caption {
  position: absolute;

  top: 0%;
  left: 10%;
  width: calc(100% - 20%);
  height: 100%;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-size: 3vw;
  /* border: 1px solid blue; */
}

.carousel .header {
  margin: 0;
  padding: 0;
  font-size: 4vw;
  line-height: 3vw;
}

.carousel p {
  padding: 0;
  margin: 0;
}

/* .carousel-caption > * {
  border: 1px solid blue;
} */

.carousel-caption > h3 {
  font-size: 4vw;
}

.carousel-caption > img {
  max-height: 50%;
  cursor: pointer;
  filter: drop-shadow(0 0 25px rgba(24, 39, 47, 0.484));
}

.carousel-indicators {
  top: 93%;
}
