.Interface {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;
  overflow-y: scroll;

  z-index: 10;
}

/*///////////////////////////////////////////////////// COVER */

.Cover {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.Cover .TitleCard {
  position: absolute;
  bottom: 6rem;
  left: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-content: center;

  /* border: 1px solid white; */
}

.Cover .Title {
  grid-area: title;

  font-size: 2.5rem;
  text-align: center;
  font-family: LeagueSpartanMedium, sans-serif;
  color: white;
  /* background-color: #ffa500; */
  text-align: left;
  text-transform: uppercase;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.422);

  padding-top: 7px;
}

.Cover .Subtitle {
  grid-area: subtitle;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
  text-align: center;
  font-family: LeagueSpartanLight, serif;
  color: white;

  padding: 0.25rem 0.5rem;
  padding-top: calc(0.25rem + 3px);
  background-color: #222222;
}

/*////////////////////////////////////////////////// THEME (COVER) DECORATIONS  */

.Cover .ThemeName {
  position: absolute;
  top: 1rem;
  right: calc(1rem + 30px);

  box-sizing: border-box;
  border: 1px solid white;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  font-size: 0.7rem;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.Cover .ThemeName span.label {
  text-transform: lowercase;
  font-style: italic;
}

.Cover .ThemeName span.value {
  text-transform: uppercase;
}

.Cover .ThemePallete {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid white;
  box-sizing: border-box;

  width: min-content;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  font-size: 0.7rem;
  padding: 0.5rem;

  transform: rotate(-90deg) translateY(calc(-100% - 1rem)) translateX(-1rem);
  transform-origin: top right;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.Cover .ThemePallete .Color {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
}

.Cover .ThemePallete .Name {
  display: none;
}

.Cover .ThemePallete .Sample {
  height: 12px;
  width: 12px;
  margin-right: 0.25rem;
}

/*////////////////////////////////////////////// COVER PAGE NAVIGATION */

.Cover nav {
  position: absolute;
  /* bottom: 6rem; */
  top: 1rem;
  left: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: calc(5rem);
  box-sizing: border-box;
  /* border: 1px solid white; */
}

.Cover nav button {
  font-family: LeagueSpartanMedium;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  width: 100%;
  padding-bottom: 5px;
  border: 1px solid white;
  box-sizing: border-box;

  transition: all 100ms;
}

.Cover nav button:hover {
  color: white;
  letter-spacing: 1px;
  /* -webkit-text-stroke: 1px white; */
}

.Cover nav button.Active {
  /* -webkit-text-stroke: 1px white; */
  letter-spacing: 1px;
  background-color: #222222;
  border: none;
}

/*//////////////////////////////////////////////////////////// PAGE CONTENT  */

.PageContent {
  /* min-height: 100vh; */
  /* height: fit-content; */

  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: #f5f5f57b;

  border-top: 1px solid white;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.PageContent nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* border: 1px solid white; */
  box-sizing: border-box;
}

.PageContent nav button {
  font-family: LeagueSpartanLight;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1rem;
  color: grey;
  border: 1px solid transparent;
  cursor: pointer;
  width: 100%;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.PageContent nav button:hover {
  color: grey;
}

.PageContent nav button.Active {
  color: white;
  background-color: #222222;
  border: 1px solid #222222;
}

/*/////////////////////////////////////////////////////////  PAGES  */

.Page {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 85vh;
  margin-top: 2rem;

  color: #666666;
  font-family: LeagueSpartanLight;
  font-size: 1.2rem;
  /* text-align: right; */
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.Page section + section {
  border-top: 1px solid #c2c2c2;
  margin-top: 2rem;
  padding-top: 2rem;
  width: 100%;
}

button {
  cursor: pointer;
}

/*/////////////////////////////////////// UTILITY CLASSES */

.Header {
  background-color: #222222;
  padding: 0rem 0.5rem;
  padding-top: calc(0rem + 5px);
  margin: 0rem 0rem 1.5rem 0rem;
  width: max-content;
  color: white;
  font-size: 1.2rem;
  font-family: LeagueSpartanLight;
  text-transform: capitalize;
}

p {
  line-height: 1.3;
  font-size: 1.1rem;
}

.Technologies {
  width: 100%;
  max-width: calc(600px + 0.5rem);

  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 0.25rem;
  row-gap: 0.25rem;
}

.Tech {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  border-left: 5px solid white;
}

.Tech .label {
  padding-top: 5px;
  font-size: 1rem;
}

.TechStack {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.TechStack .icon {
  width: 10%;
  max-width: 40px;
  padding: 0.3rem;
  filter: brightness(0) grayscale(1);
}

.Mail {
  width: 100%;

  padding: 0.5rem;
  padding-top: calc(0.5rem + 3px);
  color: grey;
  text-decoration: none;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.Mail:hover {
  color: white;
}

.Mail.Co {
  background-color: #222222;
  color: white;
}

.Mail.Co:hover {
  filter: brightness(1.5);
}

.Mail.Op {
  border: 1px solid white;
}

.Mail.Op:hover {
  background-color: white;
  color: grey;
}

.designElement {
  display: none;
}

@media (min-width: 1024px) {
  .designElement {
    display: block;
    /* display: none; */
    position: absolute;
    top: calc(40% - 8rem);
    left: calc(45% - 2rem);
    width: 550px;
    height: 400px;

    /* -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px); */
    /* border-top: 1px solid white; */
    /* border: 1px solid white; */
    /* -webkit-backdrop-filter: saturate(1) brightness(0.95) blur(10px);
    backdrop-filter: saturate(1) brightness(0.95) blur(10px); */
  }

  .Bars {
    display: flex;

    position: absolute;
    top: calc(40% + 2rem);
    left: calc(45% + 22rem);
    flex-direction: column;

    width: 100px;
    height: 42px;
    gap: 5px;

    transform: rotate(180deg);
  }

  .XP,
  .YP {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .XPBar,
  .YPBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
  }

  .Cover .TitleCard {
    top: calc(40% - 0rem);
    left: calc(45% + 0rem);
    transform: translate(0, -50%);

    width: max-content;
    height: max-content;
  }

  .Cover .Title {
    font-size: 4rem;
    font-family: LeagueSpartanMedium, sans-serif;
    -webkit-text-stroke: none;
  }

  .Cover .Subtitle {
    font-size: 1.3rem;
  }

  /*////////////////////////////////////////////////// THEME (COVER) DECORATIONS  */

  .Cover .ThemeInfo {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: calc(100vh - 4rem);

    transform: rotate(90deg) translateX(100%);
    transform-origin: top right;
  }

  .Cover .ThemeName {
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    transform: none;
  }

  .Cover .ThemeInfo .Line {
    height: 2px;
    background-color: white;
    width: 100%;
  }

  .Cover .ThemePallete {
    position: relative;
    width: max-content;
    transform: none;
  }

  /*////////////////////////////////////////////// COVER PAGE NAVIGATION */

  .Cover nav {
    top: calc(65% - 1rem);
    left: calc(45% + 0rem);
    /* transform: translate(0, -50%); */
    flex-direction: row;
    gap: 0.5rem;
    width: calc(450px);

    justify-content: space-between;
  }

  .Cover nav button {
    justify-content: flex-start;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: all 100ms;
    border: none;
    padding: 0;
    width: min-content;
  }

  .Cover nav button:hover {
    /* color: #222; */
    border-bottom: 1px solid white;
  }

  .Cover nav button.Active {
    background-color: transparent;
    border-bottom: 2px solid white;

    /* color: #222; */
  }

  /***************************************** Page Content */

  .PageContent {
    position: relative;
    width: 100%;
    padding: 0rem;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-areas: "nav pageContent";
  }

  .Page {
    grid-area: pageContent;
    width: 65%;
    max-width: 700px;
    min-height: 100vh;
    margin: 0;
    padding: 2rem;
    border-right: 1px dashed #c2c2c2;
  }

  .Page section + section {
    border-top: 1px solid #c2c2c2;
    margin-top: 2rem;
    padding-top: 2rem;
    width: 100%;
  }

  /********************************* Secondary Nav, Page Content */

  .PageContent nav {
    grid-area: nav;
    position: relative;
    /* left: 2rem;
    top: 2rem; */

    margin: 0;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    /* border: 1px solid white; */

    box-sizing: border-box;
    /* background-color: rgba(32, 32, 32, 0.867); */
    border-right: 1px solid #c2c2c2;

    height: 100%;

    /* transform: rotate(270deg) translateX(-100%);
    transform-origin: top left; */
  }

  .PageContent nav button:first-child {
    margin-top: calc(2rem - 3px);
  }

  .PageContent nav button {
    font-family: LeagueSpartanLight;

    font-size: 1.2rem;
    width: 100%;
    justify-content: flex-end;

    color: grey;
    border: none;

    /* padding-left: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 3px; */

    padding: calc(0.75rem) 1.5rem calc(0.75rem + 0px) 0.5rem;
    border-right: 3px solid transparent;
  }

  .PageContent nav button:hover,
  .PageContent nav button.Active:hover {
    background-color: #c6c6c663;
  }

  .PageContent nav button.Active {
    color: #222;
    background-color: transparent;
    border: none;
    border-right: 3px solid #c6c6c6;
    font-family: LeagueSpartanMedium;
  }
}
