.Interface {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  /* min-height: 100vh; */
  /* padding: 1rem; */

  z-index: 10;
}

/*///////////////////////////////////////////////////// HEADER */

.Hero {
  position: absolute;
  top: 0;
  left: 0;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}

.Hero .TitleCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.Hero .Title {
  grid-area: title;
  font-size: 2.8rem;
  line-height: 3rem;
  text-align: center;
  font-family: LeagueSpartanMedium, sans-serif;
  color: white;
  text-align: left;
  /* -webkit-text-stroke: 1px white;
  color: transparent; */
  text-transform: uppercase;
}

.Hero .Subtitle {
  grid-area: subtitle;

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 3rem;

  font-size: 2rem;
  text-align: center;
  font-family: LeagueSpartanLight, serif;
  color: white;
}

.Hero nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: min-content;
}

.Hero nav button {
  font-family: LeagueSpartanLight;
  font-size: 1.5rem;
  line-height: 1.3rem;
  letter-spacing: 0px;
  padding-top: 3px;
  color: white;
  cursor: pointer;
  -webkit-text-stroke: 0px white;
}

.Hero nav button:hover {
  color: white;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px white;
}

.Hero nav button.Active {
  -webkit-text-stroke: 1px white;
  letter-spacing: 1px;
}

/*/////////////////////////////////////////////////////////  PAGES  */

.Page {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  /* position: relative; */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  width: 70%;

  color: grey;
  font-family: LeagueSpartanLight;
  font-size: 1.2rem;
  text-align: right;

  /* height: 300px; */
  /* background-color: blue; */
}

.Page p {
  margin-bottom: 1rem;
  /* background-color: rgba(0, 0, 0, 0.744); */
  padding: 0.5rem;
}

/*////////////////////////////////////////////////////////// PANEL */

.Interface .Panel {
  height: 100vh;
  /* width: min-content; */
  background-color: rgb(53, 58, 63);
}

@media (max-width: 900px) {
  .Interface .Hero {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* color: #faebd7; */
  }
}

/* Used for Disc's Background */
/* .Interface .Background {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 0;
  left: 0;
} */
