.App {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: #d7e4e2;
  /* background-color: #20363a; */
}

.App #TorusCanvas {
  transition: all 1s;
}

.App #TorusCanvas.Shift {
  transform: translateY(40%) translateX(0%);
}

@media (min-width: 1024px) {
  .App #TorusCanvas {
    max-height: 700px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-18%);
    transition: all 1s;
  }

  .App #TorusCanvas.Shift {
    transform: translateY(-50%) translateX(20%);
  }
}
